@tailwind base;
@tailwind components;
@tailwind utilities;
.w-100-vh {
  width: 100vh;
}

.login, .register {
  margin: auto;
  display: block;
  width: 400px;
}
.side-h-screen {
  height: calc(100vh - 140px);
}
.active-question {
  box-shadow: 2px 2px 2px 2px greenyellow;
}